<?xml version="1.0" ?>
<model>
    <name>Robo 2WD</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Dwijay Bane</name>
        <email>dwijaybane2@gmail.com</email>
    </author>
    <description>My Awesome Robo 2 wheel drive bot!</description>
</model>